<ion-content>
  <div class="body">
    <div class="content-signin">
      <div class="logo">
        <img src="../../../assets/img/Logo.png">
      </div>

      <form [formGroup]="signinGroup" novalidate>

        <app-input errorMessage="Campo obrigatório." label="E-mail">
          <ion-input
            [class.invalid]="true"
            type="email"
            formControlName="email"
          ></ion-input>
        </app-input>

        <app-input errorMessage="Campo obrigatório." label="Senha">
          <ion-input type="password" formControlName="password"></ion-input>
        </app-input>
      </form>

      <div class="row">
        <button (click)="enter(signinGroup.value)" class="btn btn-primary center">Entrar</button>
      </div>
      <div class="row">
        <button class="btn btn-info center">Cadastrar</button>
      </div>
    </div>
  </div>
</ion-content>
