.body{
    background-image: url(../../../assets/img/InicialLoginPc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.content-signin{
    height: 100%;
}

button{
    width: 100%;
    margin: 0px 10px 5px 0px;
}

.row{
 margin: 0px 0px 5px 10px;
}

.logo{
    width: 50%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

form{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: rgb(185, 30, 30);;
}