h1, h2, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 20px;
    display: block;
    text-align: center;
    color: #90c4ff;
}

h2{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}

p{
    font-size: 16px;
    color: white;
}

.col-3 {
    margin: auto;
}



