<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo-menu">
      <img src="../../../assets/img/Logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <app-chart></app-chart>
  </div>

  <div>
    <ion-list>
      <ion-card>
      <ion-item color="sus">
        <div class="row">
          <div class="col-3">
              <img src="../../assets/img/Agenda Icone.png">
          </div>
          <div class="col-8">
            <div class="row">
              <h2>Consultas</h2>
            </div>
            <div class="row">
              <p>Agende, confira e monitore suas consultas</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="sus">
        <div class="row">
          <div class="col-3">
              <img src="../../assets/img/Prontuario Icone.png">
          </div>
          <div class="col-8">
            <div class="row">
              <h2>Protuário</h2>
            </div>
            <div class="row">
              <p>Confira todas as medidas realizadas pelo seu médico</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="sus">
        <div class="row">
          <div class="col-3">
              <img src="../../assets/img/Exame Icone.png">
          </div>
          <div class="col-8">
            <div class="row">
              <h2>Exames</h2>
            </div>
            <div class="row">
              <p>Agende e visualize os resultados dos seus exames</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll>
    </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>



